/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 1%;
	padding: 0;
	border: 0;
	font-size: 100%;
	
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* .logo{
	display:flex;
}
.intro-phrase{
	text-align: right;
}
.cta {
	text-align: right;
}
.top {
	/* display:flex;
	width: 100%;
	color: gray;
	text-align: center; */

.top nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}
h3 {
	text-align: left; 
}
.head-img {
	padding: 0% 0% 0% 75%;
}
.top-core {
	display:flex;
	width: 90%;
	height: 15%;
	text-align: center;
}
.middle-img {
	padding: 0% 0% 0% 32%;
}
.bottom-core {
	display:flex;
	width: 90%;
	height: 15%;
	text-align: center;
	
}

.features {
	display:flex;
	width:30%;
	height:90%
	
}
.about {
	display:flex;
	width:30%;
	height:90%;
	
	
}
.services {
	display:flex;
	
}
.product {
	display:flex;
	width:30%;
	height:90%;
	
}
.vision {
	display:flex;
	width:30%;
	height:90%;
	
}
.middle-img {
	display:flex;
	width: 60%;
}
.foot {
	text-align: left;
	padding: 15%;
		
} 
/* html services: */



section header {
	display: flex;
	justify-content: space-evenly;
	margin: 3%;
}
.services-header-img {
	padding: 0 10% 0 10%;
	width: 100%;
	
}
.services {
	display: flex;
	justify-content: space-evenly;
	padding: 0 10% 0 10%;
}
.body-content {
	background-color:lightgray'
	border:2px solid black;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 2%;
	justify-content: space-between;
	padding: 0 10% 0 10%;

}
.block-1 {
	 display:flex;
	justify-content: space-around; 
}
	.block-1 .design {
	border: 2px solid black;
	background-color: gray;
	
	}
	.block-1 .ux {
		border: 2px solid black;
		background-color: gray;
		
	}
.block-2 {
	display:flex;
	justify-content: space-evenly;
	}
	.block-2 .dm {
	border: 2px solid black;
	background-color: gray;
	
	}
	.block-2 .wd {
	border: 2px solid black;
	background-color: gray;
	
	}

.block-3 {
	display:flex;
	justify-content: space-evenly;
	}
	.block-3 .ios {
		border: 2px solid black;
		background-color: gray;
		
	}
	.block-3 .ad {
		border: 2px solid black;
		background-color: gray;
		
	}
.block-4 {
	display: flex;
	
}
.facts {
	/* display: flex;
	flex-direction: column; */
	
}