/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* .logo{
	display:flex;
}
.intro-phrase{
	text-align: right;
}
.cta {
	text-align: right;
}
.top {
	/* display:flex;
	width: 100%;
	color: gray;
	text-align: center; */

.top nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}
h3 {
	text-align: left; 
}
.head-img {
	padding: 0% 0% 0% 75%;
}
.top-core {
	display:flex;
	width: 90%;
	height: 15%;
	text-align: center;
}
.middle-img {
	padding: 0% 0% 0% 32%;
}
.bottom-core {
	display:flex;
	width: 90%;
	height: 15%;
	text-align: center;
	
}

.features {
	display:flex;
	width:30%;
	height:90%
	
}
.about {
	display:flex;
	width:30%;
	height:90%;
	
	
}
.services {
	display:flex;
	
}
.product {
	display:flex;
	width:30%;
	height:90%;
	
}
.vision {
	display:flex;
	width:30%;
	height:90%;
	
}
.middle-img {
	display:flex;
	width: 60%;
}
.foot {
	text-align: left;
	padding: 15%;
		
} 
/* html services: */
section header {
	display: flex;
	justify-content: space-evenly;
}
.services-header-img {
	display: flex;
}
.services {
	display: flex;
	justify-content: flex-end;
}
.body-content {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	
}
.block-1 {
	display:flex;
	justify-content: space-evenly;
	
}
.block-1 .design {
	border: 1px solid black;
	}
	.block-1 .ux {
		border: 1px solid black;
	}
.block-2 {
	display:flex;
	}
	.block-2 .dm {
	border: 1px solid black;
	}
	.block-2 .wd {
	border: 1px solid black;
	}

.block-3 {
	display:flex;
	}
	.block-3 .ios {
		border: 1px solid black;
	}
	.block-3 .ad {
		border: 1px solid black;
	}
.block-4 {
	display:flex;
}